---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "base"
;

// INTRO FOUT
.wf-loading #Intro {
visibility: hidden;
}
.wf-active #Intro {
visibility: visible;
}

.visible-grid{
  background-image: linear-gradient(to right, rgba(0,0,0,.1) 0, rgba(255,255,255,0)1.5px);
  background-repeat: repeat-x;
  background-size: 16.6666667% 100%;
  margin:0 2rem;
  //@media screen and (min-width:$tablet){
    //background-size: 100% 30px;
  //20px x 1.5 = 30px
  //}
  // background-image:repeating-linear-gradient(
  //
  // );
}
body{
  background-image: linear-gradient(to bottom,rgba(0,0,0,.1) 0,rgba(255,255,255,0)1px);
  background-repeat: repeat-y;;
  background-size:100% 1.5em;
  background-color:$white;
  color: $black70;
}


span.kern{
  letter-spacing:.02em;
}
