$column-count: 12;

// Grid Items CSS CLASS NAMES
@for $i from 1 through $column-count{
	.col-#{$i} {
		width:calc( #{$i} / #{$column-count} * 100% );
		//margin-left: $gutter;
	 }
}
@for $i from 1 through $column-count{
  .s-col-#{$i} {
     @include breakpoint(s) {
      width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
  .m-col-#{$i} {
     @include breakpoint(m) {
       width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
   .l-col-#{$i} {
     @include breakpoint(l) {
       width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
@for $i from 1 through $column-count{
   .xl-col-#{$i} {
      @include breakpoint(xl) {
        width:calc( #{$i} / #{$column-count} * 100% );
     };
   }
}
