
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $leading-headline;
}

h1 {
  font-size: $h1;
  font-weight:600;
  @include breakpoint(m) {
    font-size: 3rem;
  };
}

h2 {
  font-size: $h2;
  font-weight:600;
  @include breakpoint(l) {
    font-size: 2rem;
  };
}

h3 {
  font-size: $h3;
  font-weight:600;
  @include breakpoint(l) {
    font-size: 1.5rem;
  };
}
